.login {
    margin-top: 50px;
    margin-bottom: 50px;
}
.login_inner {
    width: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 87, 34, 0.1);
}
.login_inner a {
    margin-top: 20px;
    display: block;
    text-align: center;
    color: orangered;
    font-weight: 500;
}
.login_header {
    text-align: center;
    margin-bottom: 20px;
}
.login_header img {
    width: 150px;
}
.login_header h1 {
    color: orangered;
}
#login_success{
    background: #c7efc7;
    color: green;
    padding: 12px 0;
    text-align: center;
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 10px #c7efc7;
    margin-bottom: 10px;
}
#login_error{
    background: #eebdbd;
    color: red;
    padding: 12px 0;
    text-align: center;
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 10px #f5cdcd;
    margin-bottom: 10px;
}
form input {
    font-size: 16px;
    font-family: 'Poppins';
    padding: 12px;
    outline: none;
    border: none;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 3px solid orangered;
}
form button {
    width: 100%;
    background: orangered;
    border: none;
    font-size: 16px;
    font-family: 'Poppins';
    padding: 12px 0;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}


/* Media query */
@media screen and (max-width: 688px){
    .login{
        padding: 0 20px;
    }
    .login_inner{
        width: 100%;
    }
}