.header {
    background: #fff;
    padding: 30px 0;
    border-bottom: 1px solid lightgray;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a h1{
    color: orangered;
}
.navigate_menu {
    display: flex;
    align-items: center;
    gap: 20px;
}
.navigate_menu a {
    background: orangered;
    padding: 10px 25px;
    color: #fff;
    border-radius: 50px;
}
.navigate_menu button {
    background: orangered;
    padding: 10px 25px;
    color: #fff;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-family: 'Poppins';
    cursor: pointer;
}