.products{
    margin-top: 50px;
}
.products_title{
    text-align: center;
    margin-bottom: 30px;
}
.products_title h1{
    color: orangered;
}
.products_inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}


/* Media query */
@media screen and (max-width: 688px){
    .products_inner{
        grid-template-columns: repeat(1, 1fr);
    }
}